<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TeachingPlan.Properties.Settings.teachingPlanConnectionString"
            connectionString=" Data Source=DESKTOP-VGF8T6A\MYSERVER;Initial Catalog=Plan_nauczania;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>